body {
    background-color: rgb(71, 138, 202);
}

.prime {
    height: auto;
    width: 600px;
}

h1,
ul {
    font-family: Verdana, "Times New Roman", sans-serif;
}

#main {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.li {
    background-color: yellow;
    color: red;
    font-size: 30px;
}

.first,
.third {
    background-color: blueviolet;
    color: wheat;
}